<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98c59b">  <td>20/03/23 18:34:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HistoricalDataApi.getWeatherStation()[pri:0, instance:meteostatAPI.meteostatAPI.HistoricalDataApi@11a9e7c8]">getWeatherStation</td> 
  <td>main@23211803</td>   <td></td> </tr>
<tr bgcolor="98c59b">  <td>20/03/23 18:34:42</td>   <td>9459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HistoricalDataApi.readRecordFromCsv()[pri:0, instance:meteostatAPI.meteostatAPI.HistoricalDataApi@11a9e7c8]">readRecordFromCsv</td> 
  <td>main@23211803</td>   <td></td> </tr>
</table>
